version: '3'

services:
    gitlab:
        image: 'gitlab/gitlab-ce:latest'
        restart: always
        ports:
            - "10080:80"
            - "10022:22"
        volumes:
            #- /srv/gitlab/config:/etc/gitlab
            #- /srv/gitlab/logs:/var/log/gitlab
            - /srv/data/gitlab:/var/opt/gitlab
            - $PWD/gitlab/gitlab.rb:/etc/gitlab/gitlab.rb
        networks:
            - gitlab-network

    gitlab_shell_runner:
        build:
            context: ./gitlab-runner/appiumrunner
            args:
                EXECUTOR_TYPE: shell
        networks:
            - gitlab-network


    behave_runner_api22:
        build:
            context: ./gitlab-runner/behave-runner
            args:
                EXECUTOR_TYPE: shell
        volumes:
            - allure-result-volume:/allure-report
        networks:
            - gitlab-network

    behave_runner_api23:
        build:
            context: ./gitlab-runner/behave-runner
            args:
                EXECUTOR_TYPE: shell
        networks:
            - gitlab-network

    behave_runner_api24:
        build:
            context: ./gitlab-runner/behave-runner
            args:
                EXECUTOR_TYPE: shell
        networks:
            - gitlab-network

    behave_runner_api25:
        build:
            context: ./gitlab-runner/behave-runner
            args:
                EXECUTOR_TYPE: shell
        networks:
            - gitlab-network

    allure_report:
        build:
            context: ./allure-report
        volumes:
            - allure-result-volume:/allure-report
        ports:
            - "5000:5000"


networks:
    gitlab-network:
        external:
            name: gitlab-network

volumes:
    allure-result-volume:
